<app-loader [loading]="loading"></app-loader>
<main>
  <div class="container-fluid"> 
   
     <!-- loginbox-->
      <div class="registerbox my-2">
          
		<!--Form without header-->
		
		<div class="text-center">

			<p>Already have an account?<a href="#"> Login here</a></p>
		</div>
				
		<div class="card">
		
		<!--Header-->
				
			<div class="card-block">

				<div class="row">
			   
				   <div class="col-md-6">
					<div class="md-form has-required">
						<i class="fa fa-user prefix"></i>
						<input type="text" id="firstname" class="form-control">
						<label for="firstname">First Name</label>
					</div>
					</div>
                     
                    <div class="col-md-6">
					<div class="md-form has-required">
						<i class="fa fa-user prefix"></i>
						<input type="text" id="lastname" class="form-control">
						<label for="lastname">Last Name</label>
					</div>
					</div>
					
				</div>
				
				<div class="row">
				   <div class="col-md-6">
					<div class="md-form has-required">
						<i class="fa fa-envelope prefix"></i>
						<input type="text" id="email" class="form-control">
						<label for="email">Email</label>
					</div>
					</div>
                     
                    <div class="col-md-6">
					<div class="md-form has-required">
						<i class="fa fa-phone prefix"></i>
						<input type="text" id="mobile" class="form-control">
						<label for="mobile">Mobile</label>
					</div>
					</div>
				</div>
				
				<div class="row">
			   
				   <div class="col-md-6">
					<div class="md-form has-required">
						<i class="fa fa-lock prefix"></i>
						<input type="password" id="password" class="form-control">
						<label for="password">Password</label>
					</div>
				   </div>
                     
                   <div class="col-md-6">
					<div class="md-form has-required">
						<i class="fa fa-lock prefix"></i>
						<input type="password" id="confirmpassword" class="form-control">
						<label for="confirmpassword">Confirm Password*</label>
					</div>
				   </div>
					
				</div>
				
				<div class="row">
			    
				    <div class="col-md-6">
						<div class="md-form">
							<i class="fa fa-building prefix"></i>
							<input type="text" id="city" class="form-control">
							<label for="city">City/Village</label>
						</div>
					</div>
                     
					 <div class="col-md-6">
						<div class="md-form">
							<i class="fa fa-map-marker prefix"></i>
							<input type="text" id="city" class="form-control">
							<label for="city">State</label>
						</div>
					</div>
					
				</div>
				
				<div class="row">
				  
                   <div class="col-md-6">
						<div class="md-form">
							<i class="fa fa-map-marker prefix"></i>
							<input type="text" id="city" class="form-control">
							<label for="district">district</label>
						</div>
					</div>
                     
                    <div class="col-md-6">
						<div class="md-form">
							<i class="fa fa-building prefix"></i>
							<input type="text" id="pincode" class="form-control">
							<label for="pincode">Pin Code</label>
						</div>
					</div>
					
				</div>
				
				
               <!--  <fieldset class="form-group my-2">
                  <input type="checkbox" id="checkbox2">
					<label for="checkbox2">Yes, I understand and agree to the eFarmX Terms of Service, including the User Agreement and Privacy Policy.</label>
                </fieldset> -->
				
				<div class="text-center">
					<button class="waves-effect waves-light btn">Register</button>
				</div>
				  
			</div>

		</div>
		<!--/Form without header-->
       
      </div>
    <!-- loginbox-->
   
  </div>
</main>