<app-loader [loading]="loading"></app-loader>
  <main>
  <div class="section"></div>
  <div class="section"></div>
  <div class="container-fluid"> 
   
     <!-- loginbox-->
      <div class="loginbox my-2">
          
    <!--Form without header-->
    
    <div class="text-center">
        <h2>Login to your account</h2>
        <p>Don't have an account? <a [routerLink]="['/registration']">Register</a></p>
      </div>
        
    <div class="card">
    
    <!--Header-->
        
      <div class="card-block">

        <!--Body-->
        <div class="md-form has-required">
          <i class="fa fa-envelope prefix"></i>
          <input type="text" id="form2" class="form-control">
          <label for="form2">Email & Phone</label>
        </div>

        <div class="md-form has-required">
         <i class="fa fa-lock prefix"></i>
          <input type="password" id="form4" class="form-control">
          <label for="form4">Password</label>
        </div>

        <div class="row">
          
          <div class="col-md-6">
          <button class="waves-effect waves-light btn">Login</button>
          </div>
          
          <div class="col-md-6">
          <p class="forgotpswd pull-right"><a href="#">Forgot Password?</a></p>
          </div>
          
        </div>
        
      </div>


    </div>
    <!--/Form without header-->
        
        <!--<div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-fb btn-lg btn-block"><i class="fa fa-facebook left"></i><span>Login with <strong>Facebook</strong></span></button>
        <button type="button" class="btn btn-gplus btn-lg btn-block"><i class="fa fa-google-plus left"></i><span>Login with <strong>Google+</strong></span></button>
        </div>
    </div>-->
     
      </div>
    <!-- loginbox-->
   
  </div>
</main>

