<div id="header">
		
		<div class="section"></div>
		<div class="section"></div>
		<ul id="navigation">
			<li class="current">
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a [routerLink]="['/login']">Login</a>
				<ul>
					<li>
						<a href="#">login</a>
					</li>
				</ul>
			</li>
			<li>
				<a [routerLink]="['/registration']">Registration</a>
				<ul>
					<li>
						<a href="#">registration</a>
					</li>
				</ul>
			</li>
			<li>
				<a >Center</a>
				<ul>
					<li>
						<a [routerLink]="['/center']">registration</a>
					</li>
				</ul>
			</li>
			
		</ul>
	</div>
	<div id="body">
		<div id="tagline">
			<h1>Yoga</h1>
			
		</div>
		<img src="assets/images/lady-in-yoga.jpg" alt="lady doing yoga" class="figure">
	</div>
	<div id="footer">
		
		<div id="connect">
			<a href="https://freewebsitetemplates.com/go/facebook/" id="facebook" target="_blank">Facebook</a>
			<a href="https://freewebsitetemplates.com/go/twitter/" id="twitter" target="_blank">Twitter</a>
			<a href="https://freewebsitetemplates.com/go/googleplus/" id="googleplus" target="_blank">Google&#43;</a>
			<a href="https://freewebsitetemplates.com/go/pinterest/" id="pinterest" target="_blank">Pinterest</a>
		</div>
	</div>